/** @format */

/* .App {
  background-color: black;
  color: white;
  font-family: sans-serif;
  width: 100%;
} */
.App {
  background-color: black;
  color: white;
  font-family: sans-serif;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto; /* Allow vertical scrolling */
}
